## What was tested and how?

The tests were written with JUnit, and the test coverage can be found on [codecov](https://codecov.io/gh/maarila/four-heaps). 

## How to reproduce test results?



