## What was tested and how?

All the heaps have the standard heap operations: insert, return maximum value and delete maximum value. The operations were tested using integer values and by running the tests with various input sizes multiple times. The end result was then the average of the test running times.

## How to reproduce test results?



